body {
    padding: 30px;
}

.navbar {
    margin-bottom: 30px;
}

#home_left {
    float: left;
}

.home-logo {
    background: url("../img/logo512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}

.sad-logo {
    background: url("../img/sadbook512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}

.tiny-logo {
    background: url("../img/logo64.png") no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    opacity: 0.45;
    display: inline-block;
}

/* modal signin & register dialogs */

.modal-dialog-center {
    padding-top: 15%;
}

.modal-signin-title, .modal-register-title, .modal-checkout-title {
    text-align: center;
    font-size: 30pt;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-checkout {
    padding: 15px;
    margin: 0 auto;
    width: 500px;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-register .form-control {
    position: relative;
    font-size: 12px;
    height: auto;
    margin-bottom: 12px;
    box-sizing: border-box;
}

.form-checkout .form-control {
    position: relative;
    font-size: 12px;
    height: auto;
    margin-bottom: 12px;
    box-sizing: border-box;
}

#signInAlert, #registerAlert, #checkoutAlert {
    display: none;
}

.form-signin-bottom, .form-register-bottom, .form-checkout-bottom {
    text-align: center;
}

/* search stuff */

.search-header {
    margin: 0;
}

.search-list {
    margin-top: 15px;
}

.searchresult-thumbnail {
    max-width: 100px;
}

.searchresult-heading {
    font-weight: bold;
    font-size: 12pt;
}

.searchresult-paragraph {
    margin: 0 0 5px 0;
}

.searchresult-price {
    font-weight: bold;
    color: #b0171f;
}

.pagination {
    text-align: center;
}

/* details stuff */

.details-thumbnail {
    width: 100%;
}

.details-thumbnail-container {
    float: left;
}

.details-description {
    float: right;
}

.details-price {
    font-weight: bold;
    color: #b0171f;
}

/* cart stuff */

.cart-header {
    margin: 0;
}

.cart-list {
    margin-top: 15px;
}

.cart-thumbnail {
    max-width: 100px;
}

.cart-heading {
    font-weight: bold;
    font-size: 12pt;
}

.cart-paragraph {
    margin: 0 0 5px 0;
}

.cart-price {
    font-weight: bold;
    color: #b0171f;
}

.quantity {
    width: 100px !important;
    display: inline-block;
}

/* change password stuff */

.password-change .form-control {
    width: 200px !important;
}
