body {
    padding: 30px;
}

.navbar {
    margin-bottom: 30px;
}

#home_left {
    float: left;
}

.home-logo {
    background: url("../img/logo512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}

.sad-logo {
    background: url("../img/sadbook512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}

.tiny-logo {
    background: url("../img/logo64.png") no-repeat;
    background-size: 32px 32px;
    width: 32px;
    height: 32px;
    opacity: 0.45;
    display: inline-block;
}

/* modal signin & register dialogs */

.modal-dialog-center {
    padding-top: 15%;
}

.modal-signin-title, .modal-register-title {
    text-align: center;
    font-size: 30pt;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-register .form-control {
    position: relative;
    font-size: 12px;
    height: auto;
    margin-bottom: 12px;
    box-sizing: border-box;
}

#signInAlert, #registerAlert {
    display: none;
}

.form-signin-bottom, .form-register-bottom {
    text-align: center;
}
