body {
    padding: 30px;
}

.navbar {
    margin-bottom: 30px;
}

#home_left {
    float: left;
}

.home-logo {
    background: url("../img/logo512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}

.sad-logo {
    background: url("../img/sadbook512.png") no-repeat;
    background-size: 256px 256px;
    width: 256px;
    height: 256px;
    margin-top: 50px;
    opacity: 0.35;
    margin-left: auto;
}


.icon-navbar {
    padding-right: 5px;
}