<div class="panel panel-default">
    <div class="panel-body">
        <{ if not user }>
        This page is only going to be of use to you if you're signed in...
        <{ else }>
        <h1>Account details</h1>
        <p>
            Username: <% user["username"] %><br>
            Real name: <% user["name"] %><br>
            Address: <% user["street"] %>, <% user["city"] %> <% user["postcode"] %> <% user["state"] %><br>
            Email: <% user["email"] %>
        </p>
        <br>
        <p>
        <h4>Change password</h4>
            <{ if changepassword_success }>
            <div class="alert alert-success">Your password has been successfully changed!</div>
            <{ elif changepassword_fail }>
            <div class="alert alert-danger"><% changepassword_error %></div>
            <{ end }>

            <form method="POST" class="password-change">
                <input type="hidden" name="action" value="changepassword">
                Old password: <input type="password" class="form-control" name="oldpassword"><br>
                New password: <input type="password" class="form-control" name="password"><br>
                New password (again): <input type="password" class="form-control" name="password2"><br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </p>
        <br>
        <p>
            <h4>Past orders</h4>
            <{ for order in orders }>
            <p>
            <% __import__("datetime").datetime.fromtimestamp(order["timestamp"]).strftime("%d/%m/%Y %H:%M:%S") %><br>
            <% order["description"] %><br>
            TOTAL: $<% "%.2f" % order["total"] %>
            </p>
            <{ end }>
            Your orders will ship in approximately 6-8 weeks.
        </p>
        <{ end }>
    </div>
</div>
