<div class="panel panel-default">
    <div class="panel-body">
        <{ if user }>
        <h3 class="cart-header">
            Your cart: $<% "%.2f" % cart_total %>
        </h3>
        <{ if books }>
        <ul class="cart-list media-list">
            <{ for book in books }>
            <li class="media">
                <a class="pull-left" href="?page=details&isbn=<% book["isbn"] %>">
                    <img class="cart-thumbnail media-object"src="<% book["largeimageurl"] %>" alt="">
                </a>
                <div class="media-body">
                    <p class="cart-paragraph">
                        <a href="?page=details&isbn=<% book["isbn"] %>" class="cart-heading">
                            <% book["title"] %>
                        </a>
                        by <% ", ".join(book["authors"]) %>
                    </p>
                    <p class="cart-paragraph">
                        <span class="cart-price">
                            $<% "%.2f" % book["price"] %>
                        </span>
                    </p>
                    <p class="cart-paragraph">
                    <form method="POST">
                    <input type="hidden" name="isbn" value="<% book["isbn"] %>">
                    Quantity: <input class="form-control quantity" type="number" name="quantity" value="<% book["quantity"] %>" min="1" max="100">
                        <button type="submit" class="btn btn-default">Update quantity</button>
                        <a class="btn btn-warning" href="?page=cart&remove=<% book["isbn"] %>">Remove from cart</a>
                    </form>
                    </p>
                </div>
            </li>
            <{ end }>
        </ul>
        <hr>
        <a class="btn btn-success" data-toggle="modal" href="#checkoutModal">Checkout</a>
        <{ else }>
        Your cart is empty! You could remedy this situation by adding some books to it.
        <{ end }>
        <{ else }>
        You can't view your cart until you log in!
        <{ end }>
    </div>
</div>

<{ include checkout.html }>
