<!DOCTYPE html>
<html>
    <head>
        <title>mekong</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="css/mekong.css" rel="stylesheet">
        <link href="img/logo32.png" rel="shortcut icon">
    </head>
    <body>

        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="?page=home">
                        mekong
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <form class="navbar-form navbar-left" method="GET" action="?page=search">
                        <div class="form-group">
                            <input type="hidden" name="page" value="search">
                            <input type="text" name="query" class="form-control" placeholder="Search" value="<% query %>">
                        </div>
                    </form>

                    <ul class="nav navbar-nav navbar-right">
                        <{ if user }>

                        <li>
                            <a href="#">
                                Hi, <% user["username"] %>!
                            </a>
                        </li>
                        <li>
                            <a href="?page=cart">
                                <span class="glyphicon glyphicon-shopping-cart"></span>
                                &nbsp;Cart&nbsp;
                                <span class="badge">42</span></a>
                            </a>
                        </li>
                        <li>
                            <a href="#" onclick="$('#signOutForm').submit()">
                                <span class="glyphicon glyphicon-log-out"></span>
                                &nbsp;Sign out
                            </a>
                        </li>

                        <{ else }>

                        <li>
                            <a data-toggle="modal" href="#registerModal">
                                <span class="glyphicon glyphicon-check"></span>
                                &nbsp;Register
                            </a>
                        </li>
                        <li>
                            <a data-toggle="modal" href="#signInModal">
                                <span class="glyphicon glyphicon-log-in"></span>
                                &nbsp;Sign in
                            </a>
                        </li>

                        <{ end }>
                    </ul>
                </div>
            </div>

            <form id="signOutForm" method="POST">
                <input type="hidden" name="action" value="signout">
            </form>

            <{ if register_success }>
            <div class="alert alert-success">
                Your registration was successful. Before you can sign in, however, we need to verify your email address. Check your emails now for the link to continue!
            </div>
            <{ end }>

            <{ if signout_success }>
            <div class="alert alert-success">
                You've been successfully signed out of mekong. Hope to see you again soon!
            </div>
            <{ end }>

            <{ if page == "home" }>
            <{ include home.html }>
            <{ elif page == "search" }>
            <{ include search.html }>
            <{ elif page == "details" }>
            <{ include details.html }>
            <{ elif page == "cart" }>
            <{ include cart.html }>
            <{ else }>
            <{ include 404.html }>
            <{ end }>

            <script src="js/jquery.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/mekong.js"></script>

            <{ include signin.html }>
            <{ include register.html }>

            <div class="footer">
                <p>COMP2041 13s2 assignment 2, by George Caley.</p>
            </div>
        </div>
    </body>
</html>
