<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="search-header">
            <% total if total else "No" %> results found for <i><% query %></i>
        </h3>
        <{ if results }>
        <h4 class="search-header">
            Showing results <% start %>-<% finish %>
        </h4>
        <{ include search_pagination.html }>
        <ul class="search-list media-list">
            <{ for book in results }>
            <li class="media">
                <a class="pull-left" href="?page=details&isbn=<% book["isbn"] %>">
                    <img class="searchresult-thumbnail media-object"src="<% book["largeimageurl"] %>" alt="">
                </a>
                <div class="media-body">
                    <p class="searchresult-paragraph">
                        <a href="?page=details&isbn=<% book["isbn"] %>" class="searchresult-heading">
                            <% book["title"] %>
                        </a>
                        by <% ", ".join(book["authors"]) %>
                    </p>
                    <p class="searchresult-paragraph">
                        <span class="searchresult-price">
                            $<% "%.2f" % book["price"] %>
                        </span>
                    </p>
                    <p class="searchresult-paragraph">
                        <{ if user }>
                        <a class="btn btn-default" href="?page=cart&isbn=<% book["isbn"] %>">Add to cart</a>
                        <{ end }>
                    </p>
                </div>
            </li>
            <{ end }>
        </ul>

        <{ include search_pagination.html }>
        <{ end }>
    </div>
</div>
